<html>
  <head>
      {% include '/includes/head.html.twig' %}
      <title>Brands</title>
  </head>
  <body>
      <div class="jumbotron">
        <h1>Brands</h1>
      </div>
      <div class="container">
      {% if brands is not empty %}
          <p>Here are all your brands:</p>
          <ul>
              {% for brand in brands %}
                <li>
                  <a href="/brand/{{ brand.getId }}">{{ brand.getName }}</a><br>
                </li>
              {% endfor %}
          </ul>
          {% else %}
            <h3>There are no brands yet, add some!</h3>
      {% endif %}

      <form action='/delete_brands' method='post'>
          <button class="clear" type='submit'>Clear All</button>
      </form>

      <form action='/brands' method='post'>
          <label for='name'>Brand name:</label>
          <input id='name' name='name' type='text'>

          <button type='submit'>Add</button>
      </form>

        <a class="home" href='/'>Home</a>
    </div>
  </body>
</html>
