<html>
  <head>
      {% include '/includes/head.html.twig' %}
      <title>Shoes</title>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Shoes</h1>
        <h2>Because you can never have too many!!</h2>
      </div>

      <h3><a href="/stores">Add or view a Store</a></h3><br>
      <h3><a href="/brands">Add or view a Brand</a></h3>

    </div>
  </body>
</html>
