<html>
  <head>
      {% include '/includes/head.html.twig' %}
      <title>Shoes</title>
  </head>

  <body>
      <div class="jumbotron">
        <h1>Shoes!</h1>
        <p>Because you can never have too many!!</p>
      </div>
      <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <h1><a class="start" href="/stores">Add or view a Store</a></h1><br>
        </div>

        <div class="col-sm-6">
          <h1><a class="start" href="/brands">Add or view a Brand</a></h1>
        </div>

    </div>
    </div>
  </body>
</html>
