li {
  color: #556273;
}

.jumbotron {
  text-align: center;
  font-weight: bold;
  background-color: #3c8d93;
  color: #1f454d;
}

body {
  background-color: #d9d7ca;
  color: #231f1f;
  font-family:font-family: 'Nixie One', cursive;
  font-size: 15px;
}

.jumbotron p {
  font-size: 50px;
}

.jumbotron h1 {
  font-size: 100px;
}

span {
  font-size: 20px;
}
.col-sm-6 {
  padding-top: 50px;
  text-align: center;
}

button {
  background-color: #73604f;
  font-size:10px;
  color: #231f1f;
}

input {
  background-color: #f8f8f8;
}

label {
  font-size: 21px;
  margin-left: 4px;
  margin-right: 10px:
}

a {
  color: #231f1f;
  font-size: 25px;
}

.clear {
  background-color: #3c8d93;
}

.home {
  color: #3c8d93;
}

.edit {
  font-size: 15px;
  margin-bottom: 5px;
}

.name {
  font-size: 25px;
}

/*.output-detail {
  font-size: 18px;
}

.review_titles {
  color: #a55502;
  font-weight: bolder;
}

.output-title{
  font-size: 20px;
}*/
